#gallery {

    ul {
        display: grid;
        grid-template-rows: 30vh 30vh 30vh;

        @include md {
            grid-template-columns: 60% auto;
            grid-template-rows: 30vh 30vh;
            grid-template-areas:
                "g1 g1"
                "g2 g3";
        }

        // @include lg {

        //     grid-template-columns: 65% auto;
        // }

        // @include xl {
        //     grid-template-columns: 60% auto;
        //     grid-template-areas:
        //         "g1 g1"
        //         "g2 g3";
        // }

        li {
            background-size: cover;
            background-position: center;
        }

        #g1 {
            background-image: url('../img/large images/photo gallery 2.jpeg');

            @include md {
                grid-area: g1;
            }

            @include xl{
                background-position: center left;
            }
        }

        #g2 {
            background-image: url('../img/large images/photo gallery 5.jpeg');

            @include md {
                grid-area: g2;
            }
        }

        #g3 {
            background-image: url('../img/large images/photo gallery 7.jpeg');

            @include md {
                grid-area: g3;
            }
        }

    }
}


#bigpic {

    width: 100%;
    margin-top: 50px;
    background-size: cover;
}

.css-grid-gallery {


    display: grid;
    grid-template-columns: 50% auto;
}

#little-gallery {

    //   background-image: url('../img/large images/photo gallery 5.jpeg');
    //   background-image: url('../img/large images/photo gallery 7.jpeg');

    @include md {

        >div {
            >ul {
                display: flex;
            }
        }

    }
}