#hero {
    width: 100%;
    height: 50vh;
    background-image: url('../img/Hero.png');
    background-size: 100%;
    background-position: center center;

    @include lg {
        height: 70vh;
        background-position: center left;
    }
}


.circ{
    margin-top: 36px;
    display: grid;
grid-template-columns: 33% auto 33%;
grid-template-areas: 
". circ-area .";


    justify-items: center;
    align-items: center;
}

.circ-area{
    grid-area: circ-area;
    width: 100%;
}

.had-line{
    margin-top: 36px;
    font-family: 'Comfortaa', cursive;
    font-size: rem-calc(48);
    color: var(--but-yellow);
    text-align: center;
}

.bold-things{
    font-size: rem-calc(18);
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin: 36px 0px 24px 0px;
}

.bold-things2{
    font-size: rem-calc(18);
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    padding: 124px 0px 0px 16px;
}

.circ2{
    margin-top: 36px;
    display: grid;
grid-template-columns: auto 30% auto;
grid-template-areas: 
". circ-area2 .";
}

.circ-area2{
    grid-area: circ-area;
}