.big-pic{
  width: 100%;
}

.headish{
  font-size: rem-calc(21);
  font-family: 'Open Sans', sans-serif;
  color: var(--white);
  padding: 36px 16px 0px 16px;
}

.parg{
  font-size: rem-calc(16);
  color: var(--white);
  font-family: 'Open Sans', sans-serif;
  padding: 0px 16px 0px 16px;
}

.the-guys{
  font-size: rem-calc(18);
  font-family: 'Open Sans', sans-serif;
  color: var(--white);
  padding: 36px 16px 0px 16px;
}

.the-guys2{
  font-size: rem-calc(18);
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
  color: var(--white);
  padding: 36px 16px 0px 16px;
}

.skill-grid{
  display: grid;
  grid-template-columns: 16px auto auto auto 16px;
  grid-template-areas: 
  ". head . numb ."
  ". bar bar bar .";

  padding-bottom: 64px;
}

.head{
  grid-area: head;
}
.numb{
  grid-area: numb;
}
.bar{
  grid-area: bar;
  width: 100%;
}
