/* =============
    Header
============= */


header {

    position: relative;
    width: 100%;

    padding-bottom: 24px;
   


    div {



@include md{
    display: grid;
    grid-template-rows: auto;
    margin-right: auto;
}

        #leaf-logo {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            width: 72px;
            padding: 24px 24px 24px 24px;

            button {
                background-color: transparent;
                border: none;
            }
        }



        #header-holder {

            display: flex;
            align-items: center;

            img {
                // width: 10%
                width: 72px;
            }

            section {
                h1 {

                    @include md {
                        display: block;
                        font-size: rem-calc(32);
                    }

                    @include lg {
                        font-size: rem-calc(40);
                    }
                }
            }
        }







    }

    .mobile{
        display: block;

        @include md{
            display: none;
        }
    }

    .tab{
        display: none;

        @include md{
            display: block;
        }
    }

}







// .headline {
//   grid-template-columns: 75% auto;
//   color: #39B6FD;
// }