/* =============
    Header
============= */


header {

    position: relative;
    width: 100%;

    padding-bottom: 24px;
   


    div {
        padding: 16px 8px 16px 8px;
display: grid;
grid-template-columns: 10% 40% 50%;
grid-template-areas: 
"burg . yel-but";



    }

    .mobile{
        display: block;

        @include md{
            display: none;
        }
    }

    .tab{
        display: none;

        @include md{
            display: block;
        }
    }

}







// .headline {
//   grid-template-columns: 75% auto;
//   color: #39B6FD;
// }